body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

.header-content {
    display: flex;
    flex-direction: column; /* Cambio a dirección de columna para apilar los elementos verticalmente */
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.header-content a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none; /* Desactivar el subrayado */
    cursor: pointer;
}

.header-title {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.header-title h1 {
    margin: 0;
}

.header-image img {
    max-height: 150px; /* Ajusta según sea necesario */
    outline: none;
    border: none;
}

nav {
    background-color: #333;
    text-align: center; /* Añadido para centrar los elementos */
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    display: inline-block; /* Cambiado a inline-block para centrar los elementos */
}

a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    background-color: #ddd;
    color: black;
}

section {
    display: none;
    padding: 40px;
    text-align: center;
}

#home {
    background-color: #f2f2f2;
}

#productos {
    background-color: #e6e6e6;
}

#carrito {
    background-color: #cccccc;
}

section:target {
    display: block;
}

#carrito {
    background-color: #cccccc;
}

#EncuestaPulgares {
    /* Estilos para el elemento de producto adicional */
    background-color: #f8f8f8;
    padding: 10px;
    border: 1px solid #ddd;
}

#PerfilEdison img {
    max-width: 800px; /* Ajusta el tamaño de la imagen al ancho del contenedor */
    height: auto; /* Permite que la altura se ajuste automáticamente */
}

.producto {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

.producto img {
    max-width: 100%;
    height: auto;
}

.producto .descripcion {
    margin-top: 10px;
    font-size: 14px;
}

.producto .detalles {
    margin-top: 10px;
    padding: 10px;
    border: 1px dashed #ccc;
    background-color: #f9f9f9;
}
