body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

.header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.header-content a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    cursor: pointer;
}

.header-title {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.header-title h1 {
    margin: 0;
}

.header-image img {
    max-height: 150px;
    outline: none;
    border: none;
}

nav {
    background-color: #333;
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    display: inline-block;
}

a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    background-color: #ddd;
    color: black;
}

section {
    display: none;
    padding: 40px;
    text-align: center;
}

#home {
    background-color: #f2f2f2;
}

#productos {
    background-color: #e6e6e6;
    padding: 20px;
}

#carrito {
    background-color: #cccccc;
}

section:target {
    display: block;
}

#carrito {
    background-color: #cccccc;
}

#EncuestaPulgares {
    background-color: #f8f8f8;
    padding: 10px;
    border: 1px solid #ddd;
}

#PerfilEdison img {
    max-width: 800px;
    height: auto;
}

.productos-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.producto {
    border: 1px solid #ddd;
    padding: 20px;
    text-align: center;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.producto img {
    width: 100%;
    height: 200px;
    object-fit: contain;
    border-radius: 5px;
}

.producto .descripcion {
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
}

.producto .detalles {
    margin-top: 10px;
    padding: 10px;
    border: 1px dashed #ccc;
    background-color: #f9f9f9;
}

.modal {
    display: none; /* Oculto por defecto */
    position: fixed; /* Posicionamiento fijo */
    z-index: 1; /* Asegura que el modal esté encima de otros elementos */
    left: 0;
    top: 0;
    width: 100%; /* Ocupa toda la pantalla */
    height: 100%;
    overflow: auto; /* Permite desplazamiento si el contenido es demasiado grande */
    background-color: rgba(0,0,0,0.4); /* Fondo semitransparente */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* Centrado verticalmente */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Ancho del contenido del modal */
    max-width: 500px; /* Máximo ancho del modal */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); /* Sombra alrededor del modal */
    position: relative; /* Posiciona relativamente respecto al modal */
    z-index: 2; /* Asegura que el contenido del modal esté encima del fondo */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}