body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.header-title {
    flex-grow: 1;
}

.header-title h1 {
    margin: 0;
}

.header-image img {
    max-height: 40px;
    max-width: 40px;
}

nav {
    background-color: #333;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    background-color: #ddd;
    color: black;
}

section {
    display: none;
    padding: 40px;
    text-align: center;
}

#home {
    background-color: #f2f2f2;
}

#productos {
    background-color: #e6e6e6;
}

#carrito {
    background-color: #cccccc;
}

section:target {
    display: block;
}
#carrito {
    background-color: #cccccc;
}
